[submodule "ruby-on-rails.tmbundle"]
	path = ruby-on-rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "cucumber.tmbundle"]
	path = cucumber.tmbundle
	url = git://github.com/bmabey/cucumber-tmbundle.git
[submodule "sass.tmbundle"]
	path = sass.tmbundle
	url = git://github.com/seaofclouds/sass-textmate-bundle.git
[submodule "ruby-haml.tmbundle"]
	path = ruby-haml.tmbundle
	url = git://github.com/benhoskings/ruby-haml.tmbundle.git
[submodule "git.tmbundle"]
	path = git.tmbundle
	url = git://github.com/jcf/git-tmbundle.git
[submodule "ruby-shoulda.tmbundle"]
	path = ruby-shoulda.tmbundle
	url = git://github.com/drnic/ruby-shoulda-tmbundle.git
[submodule "thor.tmbundle"]
	path = thor.tmbundle
	url = git://github.com/mkhl/thor.tmbundle.git
[submodule "Snippets.tmbundle"]
	path = Snippets.tmbundle
	url = git://github.com/snippets/Snippets-tmbundle.git
[submodule "RDoc.tmbundle"]
	path = RDoc.tmbundle
	url = git://github.com/joshaven/RDoc.tmbundle.git
[submodule "Source.tmbundle"]
	path = Source.tmbundle
	url = git://github.com/textmate/source.tmbundle.git
[submodule "ruby.tmbundle"]
	path = ruby.tmbundle
	url = git://github.com/drnic/ruby-tmbundle.git
[submodule "markdown.tmbundle"]
	path = markdown.tmbundle
	url = git://github.com/textmate/markdown.tmbundle.git
[submodule "compass-blueprint.tmbundle"]
	path = compass-blueprint.tmbundle
	url = git://github.com/grimen/compass_blueprint_tmbundle.git
[submodule "css.tmbundle"]
	path = css.tmbundle
	url = git://github.com/subtleGradient/css.tmbundle.git
[submodule "javascript-tools.tmbundle"]
	path = javascript-tools.tmbundle
	url = git://github.com/subtleGradient/javascript-tools.tmbundle.git
[submodule "javascript.tmbundle"]
	path = javascript.tmbundle
	url = git://github.com/subtleGradient/javascript.tmbundle.git
[submodule "SCSS.tmbundle"]
	path = SCSS.tmbundle
	url = git://github.com/kuroir/SCSS.tmbundle.git
[submodule "rspec.tmbundle"]
	path = rspec.tmbundle
	url = http://github.com/rspec/rspec-tmbundle.git
[submodule "javascript-node.tmbundle"]
	path = javascript-node.tmbundle
	url = http://github.com/drnic/javascript-node.tmbundle.git
[submodule "json.tmbundle"]
	path = json.tmbundle
	url = https://github.com/textmate/json.tmbundle.git
[submodule "coffee-script.tmbundle"]
	path = coffee-script.tmbundle
	url = https://github.com/jashkenas/coffee-script-tmbundle.git
